*{
	margin:0;
	padding:0;
	text-decoration: none;
}
.templatemo_wrapper{
	width:100%;
	height:100%;
	margin:0 auto;
}
#wrapper_container{
	width:100%;
	height:826px;
	background-color: #000000;
	overflow: hidden;
	position:relative;
}
#container_header{
	width:9590px;
	height:826px;
	z-index: 1;
	position:absolute;
}
#container_header img{
	float:left;
}
#container_spot{
	z-index: 2;
	width:100px;
	height:30px;
	position:absolute;
	left:80%;
	bottom:30px;
}
#container_spot span{
	cursor:pointer;
	float:left;
	border:1px solid #FFFFFF;
	width:7px;
	height:7px;
	border-radius: 50%;	
	display:block;
	margin-left:20px;
}
.on:hover{
	background-color: #70bcf7;
}
#container_logo{
	width:220px;
	height:36px;
	position:absolute;
	z-index: 2;
	left:6%;
	top:8%;
}
#container_nav{
	width:auto;
	height:100px;
	position:absolute;
	z-index: 2;
	right:3%;
	top: 2%;
	
}
.login{
	margin-top: 27px;
	margin-bottom: 14px;
	margin-left:705px;
}
.nav_login{
	font-size: 14px;
	color:#ffffff;
	font-family: "微软雅黑";
}
.nav span{
	display: block;
	float:left;
	font-family: "微软雅黑";
	color:#ffffff;
	font-size: 16px;
}
.nav_01{
	margin-left: 40px;
}
.nav_02{
	margin-left: 80px;
}
.wrapper_news{
	width:1170px;
	height:auto;
	margin-left: 12%;
	margin-top:50px;
	margin-bottom: 20px;
	overflow: hidden;
}
.wrapper_news_title{
	float:left;
}
.wrapper_news_nav{
	float:right;
	margin-top:4px;
}
.wrapper_news_nav span{
	font-size: 16px; 
	color:#7e7e80;
	font-family: '微软雅黑';
	display:block;
	float:left;
}
.nav_03{
	margin-right: 40px;
}
.nav_03:hover{
	color:#1f1e1e;
}
.nav_04{
	margin-right:20px;
}
.nav_04:hover{
	color:#1F1E1E;
}
.wrapper_content_1{
	width:1170px;
	height:160px;
    margin-left:12%;
    background-color: #f5f6f7;
    margin-bottom: 20px;
}
.wrapper_content_1_pic{
	margin:16px 20px 16px 16px;
	float:left;
}
.wrapper_content_1_breif{
	margin-top: 36px;
	float:left;
}
.wrapper_content_1_breif span{
	display:block;
	
}
.breif_01{
	margin-bottom: 16px;
	font-family: "微软雅黑";
	font-size: 16px;
	color: #1F1E1E;
}
.breif_02{
	margin-bottom: 20px;
	font-family: "微软雅黑";
	font-size: 14px;
	color:#979899;
}
.breif_03{
	font-family: "微软雅黑";
	font-size: 16px;
	color: #7e7e80;
}
.wrapper_footer{
	height:auto;
	margin-left: 12%;
	overflow: hidden;
}
.wrapper_footer span{
	display: block;
	margin-right: 10px;
	float:left;
}
.span_content{
	color:#979899;
	width:36px;
	height:36px;
	border-radius: 50%;
	border:1px #979899 solid;
	text-align:center;
	line-height: 36px;
	
}
.active{
	background-color: #B1B2B3;
}
.spec_span a{
	text-decoration: none;
}
.footer_return{
	width:40px;
	height:40px;
	float:right;
	margin-right:8%;
}
.footer_pro{
	position: relative;
	z-index: 1;
	margin-top: 100px;
	width:100%;
	height:530px;
}
.footer_img{
	position:absolute;
	z-index: 2;
}
.footer_intro{
	position: absolute;
	z-index: 8;
	top:110px;
	left:12%;
}
.intro_title{
	font-family: arial;
	font-size: 36px;
	color: #FFFFFF;
	margin-bottom: 10px;
}
.intro_breif{
	font-family: arial;
	font-size: 18px;
	color: #FFFFFF;
	margin-bottom: 20px;
}
.intro_divide{
	margin-bottom: 40px;
	margin-left: -10px;
}
.intro_text{
	line-height: 36px;
	font-size: 20px;
	color: #FFFFFF;
	font-family:"微软雅黑";
}
.intro_link{
	width:150px;
	height:50px;
	border: 1px white solid;
	text-align: center;
	line-height: 50px;
}
.footer_wrapper{
	width:100%;
	height:680px;
	background-color: #C0C0C0;
	position: relative;
}
.footer_title{
	position:absolute;
	left:12%;
	margin-top: 50px;
}

