*{
	margin:0;
	padding:0;
	text-decoration: none;
}
.templatemo_wrapper{
	width:100%;
	height:100%;
	margin:0 auto;
}
#wrapper_container{
	width:100%;
	height:826px;
	overflow: hidden;
	position:relative;
}
#container_header{
	width:9590px;
	height:826px;
	z-index: 1;
	position:absolute;
}
#container_header img{
	float:left;
}
#container_spot{
	z-index: 2;
	width:100px;
	height:30px;
	position:absolute;
	left:80%;
	bottom:30px;
}
#container_spot span{
	cursor:pointer;
	float:left;
	border:1px solid #FFFFFF;
	width:7px;
	height:7px;
	border-radius: 50%;	
	display:block;
	margin-left:20px;
}
.on:hover{
	background-color: #70bcf7;
}
#container_logo{
	width:220px;
	height:36px;
	position:absolute;
	z-index: 2;
	left:6%;
	top:8%;
}
#container_nav{
	width:auto;
	height:100px;
	position:absolute;
	z-index: 2;
	right:3%;
	top: 2%;
	
}
.login{
	margin-top: 27px;
	margin-bottom: 14px;
	margin-left:705px;
}
.nav_login{
	font-size: 14px;
	color:#ffffff;
	font-family: "微软雅黑";
}
.nav span{
	display: block;
	float:left;
	font-family: "微软雅黑";
	color:#ffffff;
	font-size: 16px;
}
.nav_01{
	margin-left: 40px;
}
.nav_02{
	margin-left: 80px;
}
.wrapper_news{
	width:1170px;
	height:auto;
	background-color: #70BCF7;
	margin-left: 12%;
	margin-top:50px;
	margin-bottom: 20px;
	overflow: hidden;
}
.wrapper_news_title{
	float:left;
}
.wrapper_news_nav{
	float:right;
	margin-top:4px;
}
.wrapper_news_nav span{
	font-size: 16px; 
	color:#7e7e80;
	font-family: '微软雅黑';
	display:block;
	float:left;
}
.nav_03{
	margin-right: 40px;
}
.nav_03:hover{
	color:#1f1e1e;
}
.nav_04{
	margin-right:20px;
}
.nav_04:hover{
	color:#1F1E1E;
}
.wrapper_content_1{
	width:1170px;
	height:160px;
    margin-left:12%;
    background-color: #f5f6f7;
    margin-bottom: 20px;
}
.wrapper_content_1_pic{
	margin:16px 20px 16px 16px;
	float:left;
}
.wrapper_content_1_breif{
	margin-top: 36px;
	float:left;
}
.wrapper_content_1_breif span{
	display:block;
	
}
.breif_01{
	margin-bottom: 16px;
	font-family: "微软雅黑";
	font-size: 16px;
	color: #1F1E1E;
}
.breif_02{
	margin-bottom: 20px;
	font-family: "微软雅黑";
	font-size: 14px;
	color:#979899;
}
.breif_03{
	font-family: "微软雅黑";
	font-size: 16px;
	color: #7e7e80;
}
